@model List<Movie>
@{
    ViewBag.Title = ViewBag.Action;
}
<h2 class="text-primary">All the lists of the movies</h2>
<br />
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>Year</td>
            <td>Genre</td>
            <td>Rating</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Year</td>
                <td>@item.Genre.Name</td>
                <td>@item.Rating</td>
                <td>
                    <a asp-action="Edit" asp-controller="Movie" class="btn btn-outline-primary" asp-route-id="@item.MovieId">Edit</a>
                    <a asp-action="Delete" asp-controller="Movie" class="btn btn-outline-danger" asp-route-id="@item.MovieId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<a asp-action="Create" asp-controller="Movie" class="btn btn-outline-success">Create</a>
